.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-header {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 3em;
}

.sub-header {
	text-align: center;
	padding-bottom: 50px;
}

svg {
	width: 250px;
	height: 250px;
}

.titles {
	position: absolute;
	top: 0;
	margin-top: 510px;
	width: 1200px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	text-align: center;
}

.title {
	width: 25%;
	margin-bottom: 281px;
}

.coins {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	text-align: center;
	width: 1200px;
}
div.coin {
	height: 300px;
	width: 25%;	
	display: flex;
	justify-content: center;
	align-items: center;
}